@charset "utf-8";

/* base
------------------------*/
body {
    font-size: 15px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: (26/15);
    letter-spacing: (20em/1000);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* module
------------------------*/
/* header */